body {
    background-color: #F2F2F2;
    font-family: 'Shadows Into Light', cursive;
  }
  
  header {
    text-align: center;
    margin: 50px 0;
  }
  
  .title {
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    color: #333333;
  }
  
  .artist {
    font-size: 20px;
    color: #666666;
  }
  
  .lyrics {
    text-align: center;
    font-size: 20px;
    color: #333333;
  }
  